<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="category" class="com.yhc.injection.Category">
        <property name="id" value="2"/>
        <property name="name" value="zz"/>
    </bean>

    <!--<context:component-scan base-package="com.yhc.four"/>-->
    <!--<bean id="account" class="com.yhc.four.Account"/>-->
    <!--<context:property-placeholder location="four.properties"/>-->


    <!--<context:component-scan base-package="com.yhc.four"/>-->
    <!--<bean id="propertyHolder" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">-->
        <!--<property name="location" value="four.properties"/>-->
    <!--</bean>-->

</beans>